<!-- <app-homepage></app-homepage> -->
<!-- <app-registration></app-registration> -->
<!-- <app-login></app-login>  -->
<!-- npm install --save angularx-social-login  (- for social login)-->

<!-- <app-job-post></app-job-post>  -->
<!-- <app-api-call></app-api-call> -->

<!-- <app-search></app-search> -->
<!-- <app-api-caliing></app-api-caliing> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-apply-job></app-apply-job> -->
<router-outlet></router-outlet>
<!-- <app-example></app-example> -->