<!-- navbar -->
<div class="topnav">
    <img src="../../assets/images/hiREview1.png" class="logo">
    <a class="active"  href="#home">About Us</a>
    <a routerLink="/homepage" routerLinkActive="active">Logout</a>
    <a routerLink="/applyJob" routerLinkActive="active" >Apply Now</a>
    <a routerLink="/job-post" routerLinkActive="active">Post a Job</a>
</div>
<div class="first">
    <div class="centered">hiREview is the <b class="hey"><i>#1</i></b> platform to find you your dream job!</div>
    
</div>



<!-- office /our people-->
<div class="intro"> 
    <img src="../../assets/images/office3.jpg" class="img1">
    <b><font size="5">
        <div class="intro1">
            At hiREview, our mission is to help you get jobs. We have more than 9,400
             global employees passionately pursuing this purpose and improving the recruitment
              journey through real stories and data. We foster a collaborative workplace that 
              strives to create the best experience for job seekers. <br>
            Every day, we connect millions of people to new and better job opportunities.<br><br>
            <b><u>OUR PEOPLE</u></b><br><br>

            <marquee behavior="scroll" width="100%" direction="right" height="300px" scrollamount="18">
                <table>
                    <tr>
                        <td>
                            <img class="mar" src="../../assets/images/employee.jpg" style="width:400px;height:300px;">
                        </td>
                        <td>
                            <img class="mar" src="../../assets/images/employee2.jpg" style="width:400px;height:300px;">
                        </td>
                        <td>
                            <img class="mar" src="../../assets/images/employee3.jpg" style="width:400px;height:300px;">
                        </td>
                        <td>
                            <img class="mar" src="../../assets/images/employee4.jpg" style="width:400px;height:300px;">
                        </td>
                        <td>
                            <img class="mar" src="../../assets/images/employee5.png" style="width:400px;height:300px;">
                        </td>
                        <td>
                            <img class="mar" src="../../assets/images/employee6.jpeg" style="width:400px;height:300px;">
                        </td>
                        <td>
                            <img class="mar" src="../../assets/images/employee7.jpeg" style="width:400px;height:300px;">
                        </td>
                        <td>
                            <img class="mar" src="../../assets/images/employee8.jpg" style="width:400px;height:300px;">
                        </td>
                    </tr>
                </table>
            </marquee>
           <br><br>
        </div>
    </font></b>
</div>


<!-- columns-->
<div class="row1">
    <div class="column">
        <b><div class="num"><font size="70">250M</font></div></b><br>
        <font size="5">
           &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unique users every month
        </font>
    </div>

    <div class="column">
        <b><div class="num"><font size="45">20M</font></div></b><br>
        <font size="5">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resumes
        </font>
    </div>

    <div class="column">
        <b><div class="num"><font size="45">30M</font></div></b><br>
        <font size="5">
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ratings and Reviews
        </font>
    </div>

    <div class="column">
        <b><div class="num"><font size="45">10</font></div></b><br>
        <font size="5">
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jobs added per second
        </font>
    </div>
</div> 



<div class="footer-main-div">
    <div class="footer-social-icons">
      <ul>
          <br>
        <!-- <li><a href="https://github.com/dikshagupta27" target="_blank"><i class="fa fa-github"></i></a></li> -->
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://github.com/Lipakshi-Arora" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
      <br>
      <p class="copywrite">
        Copyright ©2020 No rights reserved!
      </p>
    </div>
    
  
  </div>