<!DOCTYPE html>
<html>
    <head>

    </head>

    <body class="eg">

        <!-- navbar -->
         <div class="navbar" >
            <img src="../../assets/images/hiREview1.png" class="imgg" >
            <button type="button" routerLink="/loginn" routerLinkActive="active" class="login " >LogIn</button>
            <button type="button" routerLink="/registration" routerLinkActive="active" class ="signup">SignUp</button>

          </div> 
          
          <!-- navbar ends -->
        
        <section class="first">
            <p class="pfirst"> <br><span id="one"></span></p>
            
        </section>

        <section class="second">
            <p class="psecond"><b>Why hiREviews works for you?</b></p>
            <div class="divsecond1">
                <img src="../../assets/images/023-job-2.png" class="imgsecond">
                <p>Find the Right Job</p>
                <!-- <p id="pdiv">Students practice at their own pace, first<br> filling in gaps in their understanding <br>and then accelerating their learning.</p> -->
            </div>
            <div class="divsecond2">
                <img src="../../assets/images/001-salary-1.png" class="imgsecond">
                <p>Compare salaries</p>
                <!-- <p id="pdiv">Created by experts, Techademics’s library of <br>trusted, standards-aligned practice and lessons <br>covers all the main topics of data structure.<br></p> -->
            </div>
            <div class="divsecond3">
                <img src="../../assets/images/022-thinking.png" class="imgsecond">
                <p>Decision Making</p>
                <!-- <p id="pdiv">Enjoy lifetime access to the <br>content on Techademics’s website.<br> It’s all free for learners</p> -->
            </div>
            <div class="divsecond4">
                <img src="../../assets/images/005-company.png" class="imgsecond">
                <p>Research Companies</p>
                <!-- <p id="pdiv">Enjoy lifetime access to the <br>content on Techademics’s website.<br> It’s all free for learners</p> -->
            </div>
            
        </section>
        
        
        
        <section class="third">
            <p class="psecond1">Happy Clients</p>
            <div class="divthird1">
              
                <p class="center">
                <img src="../../assets/images/star.png" class="imgthird"> &nbsp;
                 <img src="../../assets/images/star.png" class="imgthird">  &nbsp;
                <img src="../../assets/images/star.png" class="imgthird"> &nbsp;
                <img src="../../assets/images/star.png" class="imgthird">
                </p>

                <br>

                <h4><b>One of the best job search engines out there</b></h4><br><br>
                <p id="#prev">hiREviews has one of the most comprehensive job search databases out there. 
                    Easy to drill down into areas of specialty, useful email alerts. 
                    I've used it a few times, getting my next employment through them.</p><br>
                    <h3><b>~Priya</b></h3><br>
                    
                </div>
                
                <div class="divthird2">
                    
                <p class="center">
                    <img src="../../assets/images/star.png" class="imgthird"> &nbsp;
                    <img src="../../assets/images/star.png" class="imgthird">  &nbsp;
                    <img src="../../assets/images/star.png" class="imgthird"> &nbsp;
                    <img src="../../assets/images/star.png" class="imgthird">&nbsp;&nbsp;
                    <img src="../../assets/images/star.png" class="imgthird">&nbsp;
                    </p>
                    <br>
                    <h4><b>I've been very happy with job searching on hiREviews</b></h4><br><br>
                    <p id="#prev">Here at hireview you can apply with ease. You get to know more information of the company that you are applying for 
                        from reviews to expected salary.
                        These information helped me a lot in my decision making.</p><br>
                        <h3><b>~Nakuul</b></h3><br>
                        <!-- <h6>Mumbai</h6> -->
                        <!-- <img src="../../assets/images/s.jpg" class="imgthird"> -->
                    </div>
                    

                    <div class="divthird3">
                        <p class="center">
                            <img src="../../assets/images/star.png" class="imgthird"> &nbsp;
                            <img src="../../assets/images/star.png" class="imgthird">  &nbsp;
                            <img src="../../assets/images/star.png" class="imgthird"> &nbsp;
                            <img src="../../assets/images/star.png" class="imgthird">&nbsp;&nbsp;
                            <img src="../../assets/images/star.png" class="imgthird">&nbsp;<br>
                            </p>
                            <br>
                            <h4><b>hiREviews’ Additional Resources</b></h4><br><br>
                        <p id="#prev">hiREviews includes a variety of career advice resources including salary information,
                             job search guidance, resume tips, networking advice, and relocation resources. </p><br>
                            <h3><b>~Anya</b></h3><br>
                        </div>
                        
        </section>
    
        
    <!-- job categories -->
 
        <div class="yh1">
            <p class="psecond"><b>Job Categories!</b></p>
            <br>
            <div class="yh">
                <img src="../../assets/images/jobcategories.JPG" class="img1" >
            </div>
        </div>
        
    <div class="footer-main-div">
        <!-- <p>Contact Us on</p> -->
        <div class="footer-social-icons">
          <ul>
              <br>
            <!-- <li><a href="https://github.com/dikshagupta27" target="_blank"><i class="fa fa-github"></i></a></li> -->
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/Lipakshi-Arora" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <br>
          <p class="copywrite">
            Copyright ©2020 No rights reserved!
          </p>
        </div>
        
      
      </div>
      

        
       
    </body>
</html>


